a{
    text-decoration: none;
}
#div1 {
    background-color: rgb(141, 238, 84);
    height: 250px;
    width: 550px;
    text-align: center;
    border-radius: 50%;
}
#div2 {
    background-color: rgb(5, 192, 183);
    height: 250px;
    width: 550px;
    text-align: center;
    border-radius: 50%;
    top: 0px;
    left: 560px;
}
#div3 {
    background-color: rgb(247, 162, 113);
    height: 250px;
    width: 550px;
    text-align: center;
    border-radius: 50%;
    top: 300px;
    left: 0px;
}
#div4 {
    background-color: rgb(230, 248, 63);
    height: 250px;
    width: 550px;
    text-align: center;
    border-radius: 50%;
    top: 300px;
    left: 555px;
}
body {
    background-color: lightpink;
}